@model ShopSite.ViewModels.BasketViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="check">
        <div class="col-md-3 cart-total">
            <a class="continue" href="@Url.Action("Index", "Home")">Continue shopping</a>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span>$<label id="total-value">@String.Format("{0:0.##}", Model.PriceSum)</label></span>
                <span>Delivery Charges</span>
                <span class="total1">---</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>TOTAL</h4></li>
                <li class="last_price">$<label id="total-value-1">@String.Format("{0:0.##}", Model.PriceSum)</label></li>
            </ul>
            <div class="clearfix">
            </div>
            <div class="clearfix"></div>

            @if (Model.PriceSum > 0)
            {
                <a class="order" id="cart-pay" href="@Url.Action("Pay", "Basket")">Place Order</a>
            }

        </div>
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag - <span id="basket-count">@Html.Action("GetBasketQuantity", "Basket")</span> </h1>

            @foreach (var basketStatus in Model.BasketStatus)
            {
                <div class="cart-header" id="in-bucket-@basketStatus.Item.ItemId">
                    <div class="cart-sec simpleCart_shelfItem">                        
                        <div class="cart-item-info">
                            <h3><a href="@Url.Action("Details", "Items", new { id = basketStatus.Item.ItemId })"> @basketStatus.Item.ItemName </a><span>@basketStatus.Item.ItemProducer</span></h3>
                            <ul class="qty">
                                <li><p>Qty : <span id="cart-quantity-@basketStatus.Item.ItemId">@basketStatus.Quantity</span></p></li>
                                <li><p>Cost: $<span>@String.Format("{0:0.##}", basketStatus.Value)</span></p></li>
                                <li><p><a class="deleteItem" data-id="@basketStatus.Item.ItemId">Delete</a></p></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            }

            <div id="empty-bucket" @if (Model.BasketStatus != null && Model.BasketStatus.Count > 0) { <text> class="hidden" </text> }>
                <td>Your cart is empty.</td>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
@section Scripts{

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(function () {
            $(".deleteItem").click(function () {

                var itemToDelete = $(this).attr("data-id");

                if (itemToDelete != '') {
                    $.post("/Basket/Delete", { "itemId": itemToDelete },
                        function (response) {
                            if (response.QuantityToDelete == 0) {
                                $('#in-bucket-' + response.ItemIdToRemove).fadeOut('slow', function () {
                                    if (response.BasketQuantity == 0) {
                                        $("#empty-bucket").removeClass("hidden");
                                    }
                                });
                            } else {
                                $('#cart-quantity-' + response.ItemIdToRemove).text(response.QuantityToDelete);
                            }

                            if (response.BasketQuantity == 0) {
                                $('#cart-pay').addClass('hidden');
                                $('#total-value').addClass('invisible');
                            }
                            $('#total-value').text(response.BasketValue);
                            $('#total-value-1').text(response.BasketValue);
                            $('#basket-count').text(response.BasketQuantity);
                            $('#basket-count-1').text(response.BasketQuantity);
                        });
                    return false;
                }
            });
        });
        //window.onload = go;
    </script>
}
