@model ShopSite.Models.Order

@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    @using (@Html.BeginForm("Pay", "Basket"))
    {
        <div class="contact">
            <h3>Fill out the form :</h3><br />
            <div class=" col-md-6 contact-left">
                <form>
                    <div>
                        <span>@Html.LabelFor(o => o.Name, "Name:")</span>
                        @Html.TextBoxFor(o => o.Name)
                        @Html.ValidationMessageFor(o => o.Name)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.Surname, "Surname:")</span>
                        @Html.TextBoxFor(o => o.Surname)
                        @Html.ValidationMessageFor(o => o.Surname)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.Street, "Address:")</span>
                        @Html.TextBoxFor(o => o.Street)
                        @Html.ValidationMessageFor(o => o.Street)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.City, "City:")</span>
                        @Html.TextBoxFor(o => o.City)
                        @Html.ValidationMessageFor(o => o.City)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.PostalCode, "Postal code:")</span>
                        @Html.TextBoxFor(o => o.PostalCode)
                        @Html.ValidationMessageFor(o => o.PostalCode)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.PhoneNumber, "Phone number:")</span>
                        @Html.TextBoxFor(o => o.PhoneNumber)
                        @Html.ValidationMessageFor(o => o.PhoneNumber)
                    </div>
                    <div>
                        <span>@Html.LabelFor(o => o.EMail, "E-mail address:")</span>
                        @Html.TextBoxFor(o => o.EMail)
                        @Html.ValidationMessageFor(o => o.EMail)
                    </div>
                    <div>
                        <span>Comment</span>                  
                        <textarea cols="40" rows="3" name="Comment">@Model.Comment</textarea>                   
                    </div>
                </form>        
                
                @Html.ValidationSummary()
                <div>                
                    <input type="submit" style="" value="Confirm" />
                </div>
                <br />
            </div>
        </div>
     }

