@model ShopSite.ViewModels.OrderConfirmationEmail
Content-Type: text/html; charset=utf-8

<html>
<body>

    @Html.EmbedImage("~/content/Images/logo.png")

    <p>Thank uou!</p>
    <p>
        You have made order in our shop!.
    </p>
    <p>
        Here are items you have ordered :
    </p>

    @{
        IEnumerable<ShopSite.Models.ItemPosition> itemPosition = Model.ItemPositions;

        for (int i = 0; i < itemPosition.Count(); i++)
        {
            <p>
                @itemPosition.ElementAt(i).Item.ItemName - @itemPosition.ElementAt(i).Item.ItemProducer
                - @itemPosition.ElementAt(i).Item.ItemPrice Eu. - @itemPosition.ElementAt(i).Quantity szt.
            </p>
        }
    }

            <p>Please send @Model.Value euro, with title: order nr @Model.OrderNumber on our bank account:</p>
    <p>Food Shop</p>
    <p>PKO BP 10 0000 0000 0000 0000 0000 </p>

    <p>
        Thanks for using our site!
        See you around!
        Food Shop.
    </p>


</body>

</html>
