@using System.Web.Optimization


<!DOCTYPE html>
<html>
<head>
    <title>FoodShop - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> 
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    @Styles.Render("~/bundles/jquery", "~/bundles/javascript", "~/bundles/css")

</head>
<body>
    <!--header-->
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="top-head">
                    <ul class="header-in">
                        <li><a href="@Url.Action( "Index", "Home" )">  Products</a></li>
                        <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "about"})">About us</a> </li>
                        <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "contact"})">   Contact us</a></li>
                        <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "howto"})">   How to use</a></li>
                    </ul>
                    <div class="search-top">
                        <div class="search">
                            <form>
                                <input type="text" value="search about something ?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search about something ?';}">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!---->

        <div class="header-top">
            <div class="container">
                <div class="head-top">
                    <div class="logo">
                        <a href="@Url.Action( "Index", "Home" )"><img src="~/Content/images/logo.png" alt=""></a>
                    </div>
                    <div class="top-nav">
                        <ul class="megamenu skyblue">
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Meat" })">Meat</a>
                            </li>
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Vegetables" })">Vegetables</a>
                            </li>
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Fruits" })">Fruits</a>
                            </li>
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Fish" })">Fish</a>
                            </li>
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Bread" })">Bread</a>
                            </li>
                            <li class="active grid">
                                <a href="@Url.Action( "List", "Items", new { name = "Dairy Products" })">Dairy Products</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="~/Content/images/cart.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty"><img src="~/Content/images/cart-c.png" alt=""></a></p>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-left">
                <a href="@Url.Action( "Index", "Home" )"><img src="~/Content/images/logo.png" alt=""></a>
                <p class="footer-class">© 2015 Markito All Rights Reserved | Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <div class="col-md-4 footer-middle">
                <ul>
                    <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "about"})">About us</a> </li>
                    <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "contact"})">   Contact us</a></li>
                    <li><a href="@Url.Action("StaticSites", "Home", new { nameCat = "howto"})">  Hot to use</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-right">
                <h5>WE SUPPORT</h5>
                <ul>
                    <li><a href="#"><i> </i></a> </li>
                    <li><a href="#"><i class="we"> </i></a></li>
                    <li><a href="#"><i class="we-in"> </i></a></li>
                    <li><a href="#"><i class="we-at"> </i></a></li>
                    <li><a href="#"><i class="we-at-at"> </i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                        containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    </div>

</body>
</html>