@model ShopSite.ViewModels.EditItemViewModel

@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div>
    @if (Model.Confirmation.HasValue && Model.Confirmation.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Success!
        </div>
    }

    @using (@Html.BeginForm("AddItem", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>
        @Html.HiddenFor(o => o.Item.ItemId)
        @Html.HiddenFor(o => o.Item.AddDate)
        @Html.HiddenFor(o => o.Item.ItemPicture)  

        <h3>Add item:</h3><br />
        <div class=" col-md-6 contact-left">
            <form>
                <div>
                    <span>@Html.LabelFor(o => o.Item.ItemProducer, "Producer:")</span>
                    @Html.TextBoxFor(o => o.Item.ItemProducer)
                    @Html.ValidationMessageFor(o => o.Item.ItemProducer)
                </div>
                <div>
                    <span>@Html.LabelFor(o => o.Item.ItemName, "Name:")</span>
                    @Html.TextBoxFor(o => o.Item.ItemName)
                    @Html.ValidationMessageFor(o => o.Item.ItemName)
                </div>
                <div>
                    <span>@Html.LabelFor(o => o.Item.ItemDescription, "Item description:")</span>
                    @Html.TextBoxFor(o => o.Item.ItemDescription)
                    @Html.ValidationMessageFor(o => o.Item.ItemDescription)
                </div>
                <div>
                    <span>@Html.LabelFor(o => o.Categories, "Category:")</span>
                    @Html.DropDownListFor(m => m.Item.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName", Model.Categories.First().CategoryId))
                </div>
                <div>
                    <span>@Html.LabelFor(o => o.Item.ItemPrice, "Price:")</span>
                    @Html.TextBoxFor(o => o.Item.ItemPrice)
                    @Html.ValidationMessageFor(o => o.Item.ItemPrice)
                </div>
                <div>
                    <span>@Html.LabelFor(o => o.Item.Bestseller, "Bestseller:")</span>
                    @Html.CheckBoxFor(o => o.Item.Bestseller)
                </div>
                <br />

                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <div>
                        <div colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </div>
                    </div>
                }

                <div style="text-align: left">
                    @if (ViewBag.EditMode)
                    {
                        if (Model.Item.Available)
                        {
                            <a href="@Url.Action("HideItem", "Manage", new { kursId = Model.Item.ItemId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                Delete
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ShowItem", "Manage", new { kursId = Model.Item.ItemId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                Show
                            </a>
                        }
                    }
                </div>

                <div style="text-align: right;">
                    <div colspan="3">
                        <div class="checkbox" style="margin-bottom: 10px;">
                        </div>
                        <input type="submit" value="Confirm" class="submitLink" style="height: 40px;" />
                    </div>
                </div>
            </form><br />
        </div>
    }
</div>
