@model ShopSite.Models.Item
@using ShopSite.Infrastructure


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container">
        <div class="single">
            <div class="col-md-9 top-in-single">
                <div class="col-md-5 single-top">
                    <ul id="etalage">
                        <li>
                            <img class="etalage_thumb_image img-responsive" src="@Url.PicturePath(Model.ItemPicture)" alt="">
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 single-top-in">
                    <div class="single-para">
                        <h3>@Model.ItemName - @Model.ItemProducer</h3>
                        <p>@Model.ItemDescription</p>
                        <br />
                        <div class="col-md-7 single-top-in">
                            <h1>$@Model.ItemPrice</h1>
                        </div>
                        <div class="col-md-5 single-top-in">
                            <a href="@Url.Action("AddToBasket", "Basket", new { id = Model.ItemId })" class="cup item_add">Add to cart</a>
                        </div>             
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Product Description</h2>
                            <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
                                <div class="facts">
                                    <p><h5> @Model.ItemDescription</h5></p>
                                    <ul>
                                        <li>Producer - @Model.ItemProducer</li>
                                        <li>Addition date - @Model.AddDate</li>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                        <li><a href="@Url.Action("AddItem", "Manage", new { kursId = Model.ItemId })" style="margin-top: 20px; font-weight: bold; display: block;">Edit item</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>