@model ShopSite.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div align="center">
    <h2>Login</h2>
</div>
<hr />
<div>
    @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>@Html.LabelFor(o => o.Email, "E-mail:")<hr /></th>
                <td>
                    @Html.TextBoxFor(o => o.Email)
                    <hr />
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Password:")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <br>
                    <input type="submit" value="Login" class="submitLink" style="height: 40px;" />
                </td>
            </tr>
        </table>
    }
    <div class="sign" style="text-align: center;">
        <a href="@Url.Action("Register")">Sign in if you don't have an account!</a>
    </div>
</div>

