@model ShopSite.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div align="center">
    <h2>Register</h2>
</div>
<hr />

<div>
    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")<hr /></td>
                <td>
                    @Html.TextBoxFor(o => o.Email)
                    <hr />
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Password:")<hr /></td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    <hr />
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 0px 0px; text-align: left;">
                    @Html.LabelFor(o => o.ConfirmPassword, "Confirm password:")<hr />
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.PasswordFor(o => o.ConfirmPassword)
                    <hr />
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ConfirmPassword)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <input type="submit" value="Register" class="submitLink" />
                </td>
            </tr>
        </table>
    }
</div>

