@model ShopSite.ViewModels.HomeViewModel
@using ShopSite.Infrastructure

@{
    ViewBag.Title = "Main";
}



<div class="container">
    <div class="product">
        <h2 class="new">Bestsellers</h2>
        <div class="pink">
            @foreach (var bests in Model.Bestseller)
            {
                <div class="col-md-3 box-in-at">
                    <div class=" grid_box portfolio-wrapper">
                        <a href="@Url.Action( "Details", "Items", new { id = bests.ItemId })"> <img src="@Url.PicturePath(bests.ItemPicture)" class="img-responsive" alt=""></a>
                    </div>
                    <div class="grid_1 simpleCart_shelfItem">
                        <a href="@Url.Action( "Details", "Items", new { id = bests.ItemId })" class="cup"><span class=" item_price">@bests.ItemName - @bests.ItemPrice <i> </i> </span></a>@*cup item_add*@
                    </div>
                </div>
            }
            
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="product">
        <h2 class="new">New arrivals</h2>
        <div class="pink">

            @foreach (var newOness in Model.New)
            {

                <div class="col-md-3 box-in-at">
                    <div class=" grid_box portfolio-wrapper">
                        <a href="@Url.Action( "Details", "Items", new { id = newOness.ItemId })"> <img src="@Url.PicturePath(newOness.ItemPicture)" class="img-responsive" alt=""></a>
                    </div>
                    <div class="grid_1 simpleCart_shelfItem">
                        <a href="@Url.Action( "Details", "Items", new { id = newOness.ItemId })" class="cup"><span class=" item_price">@newOness.ItemName - @newOness.ItemPrice <i> </i> </span></a>
                    </div>
                </div>
            }
            
            <div class="clearfix"> </div>
        </div>

    </div>
    <div class="content-bottom">
        <div class="col-md-8 latter">
            <h6>NEWSLETTER</h6>
            <p>sign up now to our newsletter discount! to get the Welcome discount</p>

            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 latter-right">

            <form>
                <div class="join">
                    <input type="text" value="your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email here';}">
                    <i> </i>
                </div>
                <input type="submit" value="join us">
            </form>

        </div>
        <div class="clearfix"> </div>
    </div>
    <!---->
</div>